@use '@/styles/variables/_color';
@use '@/styles/variables/_margin';
@use '@/styles/variables/_width';
@use '@/styles/mixin/_media';
@use '@/styles/mixin/_action';

.cmp_footer {
    background: color.$gray;
    margin-top: margin.$max;

    @include media.dark() {
        background: lighten(color.$calm-black, 10%);
    }

    &_inr {
        max-width: width.$max;
        padding-left: margin.$medium;
        padding-right: margin.$medium;
        padding-bottom: margin.$medium;
        padding-top: margin.$medium;
        margin-left: auto;
        margin-right: auto;
    
        @include media.max() {
            padding-left: margin.$small;
            padding-right: margin.$small;
        }

        > *:not(:first-child) {
            margin-top: margin.$medium;
        }
    }
    &_hdg {
        margin-top: 0;
        font-weight: bold;

        @include media.dark() {
            color: color.$pure-white;
        }

        & ~ * {
            margin-top: margin.$small;
            color: color.$strong-gray;

            @include media.dark() {
                color: darken(color.$pure-white, 25%);
            }
        }
    }
    &_tag-list-inr {
        display: flex;
        flex-wrap: wrap;
        margin-top: -#{margin.$min};
        margin-left: -#{margin.$small};
    }
    &_tag-list-item {
        font-size: 1.4rem;
        display: inline-block;
        margin-top: margin.$min;
        margin-left: margin.$small;
        
        a {
            color: color.$strong-gray;
            text-decoration: none;
            
            @include action.hover() {
                color: color.$red;
            }
            @include media.dark() {
                color: darken(color.$pure-white, 25%);
            }

            &::before {
                content: '#';
            }
        }
    }
    &_copy {
        color: color.$strong-gray;
        text-align: right;
        @include media.dark() {
            color: darken(color.$pure-white, 25%);
        }

        > small {
            font-size: 1.4rem;
        }
    }
}