@use '@/styles/variables/_width';
@use '@/styles/variables/_color';
@use '@/styles/variables/_margin';
@use '@/styles/extends/_zIndex' as ext-zIndex;
@use '@/styles/mixin/_media';
@use '@/styles/mixin/_action';

.cmp_header {
    max-width: width.$max;
    padding-left: margin.$medium;
    padding-right: margin.$medium;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: margin.$small;
    z-index: 10;

    @include media.max() {
        flex-wrap: wrap;
        padding-left: margin.$small;
        padding-right: margin.$small;
    }
    
    &_inr {
        @extend %index1;
        padding-left: margin.$medium;
        padding-right: margin.$medium;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        background-color: color.$pure-white;
    
        @include media.max() {
            flex-wrap: wrap;
            padding-left: margin.$small;
            padding-right: margin.$small;
        }
        @include media.dark() {
            background-color: color.$black;
        }
    }
    &_hdg {
        font-size: 2rem;
        margin: 0;
        font-weight: bold;
        line-height: 1;

        a {
            color: color.$black;
            
            @include action.hover() {
                color: color.$red;
                text-decoration: none;
            }
            @include media.dark() {
                color: color.$middle-gray;
            }
        }
    }
    &_nav {
        display: block;
    }
    &_nav-list {
        display: flex;
    }
    &_nav-list-item {
        list-style: none;

        &:not(:first-child) {
            margin-left: margin.$medium;
            
            @include media.max() {
                margin-left: margin.$small;
            }
        }
        a {
            display: block;
            white-space: nowrap;
            color: color.$black;

            @include action.hover() {
                color: color.$red;
                text-decoration: none;
            }
            @include media.dark() {
                color: color.$pure-white;
            }
        }
    }
}