@use '@/styles/variables/_color';
@use '@/styles/variables/_margin';
@use '@/styles/mixin/_media';
@use '@/styles/mixin/_action';

* {
    box-sizing: border-box;
    word-break: break-word;
}
html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    color: color.$black;

    @include media.max() {
        font-size: 1.4rem;
    }
}
p {
    line-height: 1.8;
    margin-top: margin.$medium;
    margin-bottom: 0;

    @include media.max() {
        line-height: 1.7;
    }
}
a {
    color: color.$blue;
    text-decoration: none;
    
    @include action.hover() {
        text-decoration: underline;
    }
}
pre {
    margin-top: margin.$small;
    margin-bottom: 0;
}
pre code {
    display: block;
    width: 100%;
    background-color: color.$black;
    color: color.$pure-white;
    padding: margin.$small;
    border-radius: 6px;
}
code {
    overflow: auto
}
blockquote {
    border-left: 4px solid color.$blue;
    display: block;
    width: 100%;
    padding-left: margin.$small;
    margin-left: 0;
    color: color.$strong-gray;
    
    > * {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}
h1 {
    margin-top: margin.$max;
    margin-bottom: 0;
    font-size: 3.2rem;

    & + p {
        color: color.$strong-gray;
    }

    @include media.max() {
        font-size: 2.4rem;
    }
}
h2 {
    font-size: 2.8rem;

    @include media.max() {
        font-size: 2.2rem;
    }
}
h3 {
    font-size: 2.6rem;

    @include media.max() {
        font-size: 2.2rem;
    }
}
h4 {
    font-size: 2.2rem;

    @include media.max() {
        font-size: 2rem;
    }
}
h5 {
    font-size: 1.8rem;

    @include media.max() {
        font-size: 1.6rem;
    }
}
h6 {
    font-size: 1.8rem;
    color: color.$strong-gray;

    @include media.max() {
        font-size: 1.6rem;
    }
}
h2,
h3,
h4,
h5,
h6 {
    margin-top: margin.$medium;
    margin-bottom: 0;

    & + * {
        margin-top: margin.$medium;
    }
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ol {
    padding-left: 1.5ch;
    margin: 0;
}
em {
    font-style: normal;
    color: color.$orange;
}
strong {
    color: color.$red;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: margin.$medium;
    max-width: 100%;

    & + * {
        margin-top: margin.$medium;
    }
}
button {
    background-color: transparent;
    border: 0;
}
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}
dd {
    line-height: 2;

    @include media.max() {
        line-height: 1.6;
    }
}
.TLImageViewer {
    max-width: 400px;
    margin-top: margin.$medium;
    margin-left: auto;
    margin-right: auto;

    & + * {
        margin-top: margin.$medium;
    }
}
.footnotes-sep {
    border: 0;
    height: 4px;
    background: color.$gray;
    margin-top: margin.$large;
    margin-bottom: margin.$medium;
}