:root {
  --accent: #fbcc40;
  --accent-dark: #4e4322;
  --black: #1e1e1f;
  --gray: #dbdbdd;
  --gray-light: #ebebf2;
  --gray-dark: #707070;
  --gray-strong-dark: #5d5b5b;
  --danger: #fe4a49;
  --warning: #fbcc40;
  --link: #27727d;
  --white: #ffffff;
  scroll-padding-top: 61px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}
.pc {
  @media (width <= 768px) {
    display: none !important;
  }
}
.sp {
  @media (width > 768px) {
    display: none !important;
  }
}

body {
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--black);
}
a {
  color: var(--link);
}
img {
  max-width: 100%;
  height: auto;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--gray-light);
}
ul {
  list-style: none;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
