@use '@/styles/variables/_color';
@use '@/styles/mixin/_action';

.cmp_circle-btn {
    display: block;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0;
    background: color.$gray;

    @include action.hover {
        background: color.$red;
        color: color.$pure-white;
    }

    &.is-active {
        background: color.$red;
        color: color.$pure-white;
    }
}