@use '@/styles/variables/_color';
@use '@/styles/mixin/_media';

.cmp_menu-btn {
    display: none;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    padding: 0;
    
    @include media.max() {
        display: block;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 24px;
        border-radius: 1px;
        background: color.$strong-gray;
        left: 50%;
        margin-left: -12px;
        margin-top: -1px;
        position: absolute;
    }
    &::before {
        top: calc(50% - 5px);
    }
    &::after {
        top: calc(50% + 5px);
    }
    .cmp_menu-btn__alt {
        display: block;
        width: 1px;
        height: 1px;
        position: absolute;
        left: -1px;
        top: -1px;
        white-space: nowrap;
        overflow: hidden;
    }
    &.is-active {
        &::before,
        &::after {
            top: 50%;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}