---
import BaseHead from '../components/layout/BaseHead.astro';
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';
import { SITE_TITLE } from '../consts';
import KeyVisutal from '../components/card/KeyVisutal.astro';
import ArticleList from '../components/list/ArticleList.astro';
import IconHeadingContent from '../components/heading/IconHeadingContent.astro';
import { getArticleInfo, getRawArticles } from '../lib/articles';

const rawArticles = await getRawArticles();

const articleInfoList = rawArticles.map(getArticleInfo);

const latestArticleInfoList = articleInfoList.slice(0, 6);

const techArticleInfoList = articleInfoList.filter((article) => !article.tagList.includes('日記')).slice(0, 6);

const feelingArticleInfoList = articleInfoList.filter((article) => article.tagList.includes('日記')).slice(0, 6);
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead />
    <style>
      .content-container {
        display: flex;
        flex-direction: column;
        gap: 104px;
        padding: 64px 24px;
        margin: 0 auto;
        max-width: 1280px;

        @media (max-width: 768px) {
          gap: 80px;
          padding: 40px 16px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: 768px) {
          gap: 24px;
        }
      }
    </style>
  </head>

  <body>
    <Header />

    <main>
      <KeyVisutal rawArticles={rawArticles} />

      <div class="content-container">
        <div class="content">
          <h2>
            <IconHeadingContent iconName="newspaper" size="md" href="/articles">最新記事</IconHeadingContent>
          </h2>
          <ArticleList list={latestArticleInfoList} headingLevel={3} />
        </div>

        <div class="content">
          <h2><IconHeadingContent iconName="code" size="md" href="/topics/tech">Techな記事</IconHeadingContent></h2>
          <ArticleList list={techArticleInfoList} headingLevel={3} />
        </div>

        <div class="content">
          <h2>
            <IconHeadingContent iconName="memo" size="md" href="/topics/feeling">お気持ち記事</IconHeadingContent>
          </h2>
          <ArticleList list={feelingArticleInfoList} headingLevel={3} />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
