$pure-white: #fff;
$pure-black: #000;
$black: #333447;
$red: #ED1846;
$gray: #eee;
$strong-gray: #787878;
$middle-gray: #DDDDDD;
$blue: #00ADED;
$dark-blue: #0877A1;
$yellow: #F7EC19;
$orange: #F08523;