@use '@/styles/variables/_color';
@use '@/styles/variables/_margin';
@use '@/styles/mixin/_media';
@use '@/styles/mixin/_action';

.cmp_article-list-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    border-bottom: 1px solid color.$gray;
    padding-top: margin.$small;
    padding-bottom: margin.$small;
    padding-left: margin.$small;
    padding-right: margin.$small;

    @include media.max() {
        padding-left: 0;
        padding-right: 0;
        flex-direction: column-reverse;
    }

    &_content {
        flex-basis: 100%;
        margin-left: margin.$small;

        @include media.max() {
            margin-left: 0;
        }
    }
    &_date {
        color: color.$strong-gray;
        font-size: 1.2rem;
        margin: 0;

        @include media.max() {
            margin-top: 8px;
        }
    }
    &_link {
        margin-top: 8px;
        display: inline-block;
        color: color.$black;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 2.2rem;
            margin-top: 0;
        }

        @include action.hover() {
            color: color.$red;
            text-decoration: none;
        }
    }
    &_tag-list {
        margin-top: 8px;
    }
    &_tag-list-item {
        color: color.$strong-gray;
        display: inline-block;
        font-size: 1.2rem;

        &::before {
            content: '#';
        }
        & + & {
            margin-left: 8px;
        }
    }
    &_thumbnail {
        min-width: 140px;
        max-width: 140px;
        width: 100%;
        height: 80px;
        border-radius: 5px;
        overflow: hidden;
        background: color.$gray;
        align-self: center;
        position: relative;

        @include media.max() {
            max-width: 100%;
            height: 150px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::before {
            content: attr(data-msg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            pointer-events: none;
            color: color.$black;
            font-size: 1.2rem;
            white-space: nowrap;

            @include media.max() {
                font-size: 1.4rem;
            }
        }
    }
}