@use '@/styles/variables/_color';
@use '@/styles/variables/_margin';
@use '@/styles/mixin/_media';
@use '@/styles/mixin/_action';

.cmp_article-head {
    margin-top: margin.$large;

    &_date {
        display: flex;
        font-size: 1.4rem;
        color: color.$strong-gray;

        p {
            margin-top: 0;
        }
    }
    &_hdg {
        margin-top: margin.$min;
    }
    &_tag-list {
        margin-top: margin.$min;
    }
    &_tag-list-inr {
        display: flex;
        flex-wrap: wrap;
        margin-top: -#{margin.$min};
        margin-left: -#{margin.$small};
    }
    &_tag-list-item {
        font-size: 1.4rem;
        color: color.$strong-gray;
        display: inline-block;
        margin-top: margin.$min;
        margin-left: margin.$small;

        a {
            color: color.$strong-gray;
            text-decoration: none;
            
            @include action.hover() {
                color: color.$red;
            }

            &::before {
                content: '#';
            }
        }
    }
}