@use '@/styles/variables/_color';
@use '@/styles/variables/_margin';
@use '@/styles/mixin/_media';
@use '@/styles/mixin/_action';

.cmp_article-thumbnail {
    max-width: 100%;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: margin.$large;
    position: relative;
    background-color: color.$gray;

    @include media.max() {
        height: 200px;
        margin-top: margin.$medium;
    }

    & + * {
        margin-top: margin.$max;

        @include media.max() {
            margin-top: margin.$medium;
        }
    }
    &::before {
        content: attr(data-msg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        pointer-events: none;
    }
    &_img {
        display: block;
        max-width: 600px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
        position: relative;

        @include media.max() {
            max-width: 300px;
        }
    }
    &_bg {
        $blur: 10;

        display: block;
        width: calc(100% + #{$blur * 2 + px});
        height: calc(100% + #{$blur * 2 + px});
        object-fit: cover;
        filter: blur($blur + px);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        margin-top: -$blur + px;
        margin-left: -$blur + px;
    }
}