@use '@/styles/variables/_margin';
@use '@/styles/variables/_color';
@use '@/styles/mixin/_action';
@use '@/styles/mixin/_media';

.cmp_pagination {
    margin-top: margin.$large;
    text-align: center;
    
    &_inr {
        overflow: auto;
        max-width: 270px;
        box-sizing: border-box;
        display: inline-flex;

        > button:not(:first-child) {
            margin-left: margin.$min;
        }
    }
}